In [8]:
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()
import pandas as pd

In [9]:
# /simple/price endpoint with the required parameters
#cg.get_price(ids='bitcoin', vs_currencies='usd')

In [10]:
coins=pd.DataFrame(cg.get_coins_list())
#coins=coins.head()
coins

                                 id    symbol                           name
0                            01coin       zoc                         01coin
1          0-5x-long-algorand-token  algohalf       0.5X Long Algorand Token
2     0-5x-long-altcoin-index-token   althalf  0.5X Long Altcoin Index Token
3          0-5x-long-balancer-token   balhalf       0.5X Long Balancer Token
4           0-5x-long-bilibra-token  trybhalf         0.5X Long BiLira Token
...                             ...       ...                            ...
5891                        zvchain       zvc                        ZVCHAIN
5892                           zxth      zxth                           ZXTH
5893                       zynecoin       zyn                       Zynecoin
5894                            zyx       zyx                            ZYX
5895                    zzz-finance       zzz                    zzz.finance

[5896 rows x 3 columns]

In [11]:
id=coins['id'].values.tolist()

In [12]:
# Python program to convert a list 
# to string using join() function 
	
# Function to convert 
def listToString(s): 
	
	# initialize an empty string 
	str1 = " "
	
	# return string 
	return (str1.join(s)) 


import time
from datetime import timezone
import datetime
start_date=datetime.datetime(2014,1,1,tzinfo=timezone.utc) 
end_date=datetime.datetime(2020,8,31, tzinfo=timezone.utc)

df=pd.DataFrame(columns=['datetime','id','name','symbol','price','volume','market_cap'])




for i in (id):

    df1=pd.DataFrame(columns=['datetime','id','name','symbol','price','volume','market_cap'])
    try:
               
        price=[i[1] for i in cg.get_coin_market_chart_range_by_id(i,'usd',
                        time.mktime(start_date.timetuple()),
                        time.mktime(end_date.timetuple()))['prices']]
        market_cap=[i[1] for i in cg.get_coin_market_chart_range_by_id(i,'usd',
                        time.mktime(start_date.timetuple()),
                        time.mktime(end_date.timetuple()))['market_caps']]
        
        total_volume=[i[1] for i in cg.get_coin_market_chart_range_by_id(i,'usd',
                        time.mktime(start_date.timetuple()),
                        time.mktime(end_date.timetuple()))['total_volumes']]
        
        date=[i[0] for i in cg.get_coin_market_chart_range_by_id(i,'usd',
                        time.mktime(start_date.timetuple()),
                        time.mktime(end_date.timetuple()))['prices']]
        name=listToString(coins.loc[coins["id"] == i, 'name'].values)
            
        symbol=listToString(coins.loc[coins["id"] == i, 'symbol'].values)
        
        df1['datetime']= date
        df1['price']=price
        df1['id']=i
        df1['market_cap']=market_cap
        df1['volume']=total_volume
        df1['name']=name
        df1['symbol']=symbol
                                                           
        
    except:
      
        continue
    df=df.append(df1)

In [13]:
df['datetime']= pd.to_datetime(df.datetime,  unit = 'ms')

In [14]:
compression_opts = dict(method='zip',

                        archive_name='all_cryptos.csv')  

df.to_csv('all_cryptos.zip', index=False,

          compression=compression_opts)

In [15]:
df2=df

In [33]:
df3=pd.DataFrame(columns=['id','name','symbol','market_cap','min_date','max_date'])
g = df2.groupby('name')['datetime']
df3['min_date'] = g.transform('min')
df3['max_date'] = g.transform('max')
df3[' duration(in days)'] = df3['max_date'].sub(df3['min_date'])

In [34]:
df3

      id name symbol market_cap   min_date   max_date  duration(in days)
0    NaN  NaN    NaN        NaN 2018-09-15 2020-08-30           715 days
1    NaN  NaN    NaN        NaN 2018-09-15 2020-08-30           715 days
2    NaN  NaN    NaN        NaN 2018-09-15 2020-08-30           715 days
3    NaN  NaN    NaN        NaN 2018-09-15 2020-08-30           715 days
4    NaN  NaN    NaN        NaN 2018-09-15 2020-08-30           715 days
..   ...  ...    ...        ...        ...        ...                ...
501  NaN  NaN    NaN        NaN 2019-02-08 2020-08-28           567 days
502  NaN  NaN    NaN        NaN 2019-02-08 2020-08-28           567 days
503  NaN  NaN    NaN        NaN 2019-02-08 2020-08-28           567 days
504  NaN  NaN    NaN        NaN 2019-02-08 2020-08-28           567 days
505  NaN  NaN    NaN        NaN 2019-02-08 2020-08-28           567 days

[1217787 rows x 7 columns]